---
import Markdown from "../../utility/markdown.astro";

interface Props {
  header: string;
  description: string;
}
const { header, description } = Astro.props;
---

<div>
  <h6 class={"privacytitle"}>{header}</h6>
  <div class={"privacyparagraph"}>
    <Markdown content={description} />
  </div>
</div>
<style>
  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .privacytitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
  }
  .privacyparagraph {
    margin-bottom: 1rem;
    font-size: 18px;
    line-height: 1.8rem;
  }
  @media screen and (max-width: 1024px) {
    .privacyparagraph {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
</style>
