---
import PageHelper from "../shared/astro/page.astro";
import Contact from '../components/Common/Contact/Contact.astro'
import Layout, { type SEOProps } from "./Layout.astro";

type Props = {
  frontmatter: {
    title: string;
    content_blocks: any[];
    seo?: SEOProps;
    contact_form: any;
  };
};

const props = Astro.props.frontmatter;
---

<Layout {...props}>
  <div class={"all_page"}>
    <div class={"wrapper"}>
      <PageHelper bookshop:live contentBlocks={props.content_blocks} />
      <Contact bookshop:live {...props.contact_form} />
    </div>
  </div>
</Layout>
<style>
  .wrapper {
    position: relative;
    width: 100%;
    height: auto;
  }

  .banner {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
  }

  .scrollComponent {
    position: relative;
    width: 85%;
    margin: 0 auto;
    height: 20rem;
  }

  @media screen and (max-width: 1024px) {
    .scrollComponent {
      height: 48rem;
    }
  }

  @media screen and (max-width: 768px) {
    .scrollComponent {
      width: 100%;
      padding: 0;
      height: auto;
    }

    .newSection {
      flex-direction: column;
    }
    .newSection .heroImage img {
      flex-direction: column;
      max-width: 50%;
    }
  }
</style>
